<h1>aghsvdghascdhas</h1>
<form (ngSubmit)="searchDatass()">
	  <div class="container">
	  <h1>
		HTML table listing and pagination Using Bootstrap and Angular 4
	  </h1>
	
       <label for="fileId">FileId</label>
       <input type="text" class="form-control" id="username" placeholder="enter fileId" [(ngModel)]="searchData.fileId" name="fileId" required>
	   </div>
     <div class="container" ng-hide="true">
	  <table class="table table-bordered table-striped">
	 <thead>
	 <tr>
	 <td>Id</td>
	 <td>amount</td>
	 <td>lastname</td>
	 <td>mobileNumber</td>
	 </tr>
	 </thead>
	 <tbody>

	 <tr *ngFor="let emp of datasList | paginate: { id: 'listing_pagination',
														  itemsPerPage: 2,
														  currentPage: page,
														  totalItems: totalRec }">
	   <td>{{emp.id}}</td>
	   <td>{{emp.amount}}</td>
	   <td>{{emp.lastname}}</td>
	   <td>{{emp.mobileNumber}}</td>
	 </tr>
	 </tbody>
	 </table>
	 <div>
	 <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = searchDatass($event)"></pagination-controls>
	 </div>
	 </div>
	
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>